@import-normalize;

body {
	padding: 0;
	margin: 0;
	font-family: "Noto Sans JP", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #9e9e9e;
}

.react-tabs {
	display: grid;
	grid-template-columns: minmax(200px, 15%) 1fr;
	height: 100vh;
}

.react-tabs__tab-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fafbfd;
	margin: 0 !important;
	padding: 200px 0 800px 10% !important;
}

.react-tabs__tab--selected {
	background: #fafbfd !important;
	border: none !important;
}

.react-tabs__tab-panel {
	padding: 50px 100px;
}

.content {
	display: grid;
	grid-auto-rows: min-content;
	row-gap: 3rem;
}

.content-2cols {
	display: grid;
	grid-template-columns: repeat(2, 460px);
	column-gap: 2rem;
	row-gap: 3rem;
}

.content-3cols {
	display: grid;
	grid-template-columns: repeat(3, 360px);
	column-gap: 0.5rem;
	row-gap: 2rem;
}

.content-4cols {
	display: grid;
	grid-template-columns: repeat(4, 250px);
  column-gap: 0.5rem;
}

.buttonBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 65px;
	width: 350px;
}

button {
	width: 81px;
	height: 36px;
	border-radius: 6px;
	border-style: none;
	outline: none;
	font-family: "Noto Sans JP";
	font-size: 14px;
}

.btn__normal {
	background: #e0e0e0;
}

.btn__normal-hf {
	background: #aeaeae;
}

.btn__outline {
	background: transparent;
	border: 1px solid #3d5afe;
	color: #3d5afe;
}

.btn__outline-hf {
	background: rgba(41, 98, 255, 0.1);
	border: 1px solid #3d5afe;
	color: #3d5afe;
}

.btn__text {
	background: transparent;
	color: #3d5afe;
}

.btn__text-hf {
	background: rgba(41, 98, 255, 0.1);
	color: #3d5afe;
}

.btn__disableShadow {
	background: #3d5afe;
	box-shadow: none;
	color: #ffffff;
}

.btn__disabled {
	color: #9e9e9e;
}

.btn__disabled-hf {
	background: transparent;
	color: #9e9e9e;
}

.material-icons.md-14 {
	font-size: 14px;
}

.btn__cart {
	background: #3d5afe;
	color: #ffffff;
	width: 101px;
}

.btn-sm {
	background: #3d5afe;
	color: #ffffff;
	width: 73px;
	height: 32px;
}

.btn-md {
	background: #3d5afe;
	color: #ffffff;
}

.btn-lg {
	background: #3d5afe;
	color: #ffffff;
	width: 93px;
	height: 42px;
}

.btn-pri {
	background: #3d5afe;
	color: #ffffff;
}

.btn-pri-hf {
	background: #0039CB;
	color: #ffffff;
}

.btn-sec {
	background: #455A64;
	color: #ffffff;
	width: 104px;
	height: 36px;
}

.btn-sec-hf {
	background: #1C313A;
	color: #ffffff;
	width: 104px;
	height: 36px;
}

.btn-danger {
	background: #D32F2F;
	color: #ffffff;
}

.btn-danger-hf {
	background: #9A0007;
	color: #ffffff;
}
.credits {
  margin-top: 1rem;
  color: #9E9E9E;
}

h1 {
	font-size: 24px;
	font-family: "Poppins";
	color: #4f4f4f;
	padding-bottom: 3rem;
}

code {
	font-family: "Ubuntu Mono", source-code-pro, Menlo, Monaco, Consolas,
		"Courier New", monospace;
	color: #3f3f3f;
}
